$--font-size-base: 14px !default;

$--color-primary: #1E5EFF !default;
$--color-black: #000000 !default;
$--color-white: #FFFFFF !default;
$--color-text-regular: #606266 !default;
$--color-page-bg: #f9f9fa !default;

$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;