$--font-size-base: 14px !default;

$--color-primary: #1E5EFF !default;
$--color-black: #000000 !default;
$--color-white: #FFFFFF !default;
$--color-drawer-bg: #ffffff !default;
$--color-page-bg: #f5f5f5 !default;
$--color-center-bg: #fff !default;

$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;